/* EditProfile.css */
.edit-profile-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-profile-container form {
  display: flex;
  flex-direction: column;
}

.edit-profile-container form input {
  margin-bottom: 15px; /* Increased margin to give space between inputs */
}

.edit-profile-container button {
  margin-top: 20px;
  align-self: flex-end; /* Align the button to the right */
}

.edit-profile-container .MuiCircularProgress-root {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .edit-profile-container {
    padding: 15px;
    width: 100%; /* Ensure it takes full width on mobile */
  }
  .edit-profile-container form input {
    margin-bottom: 10px; /* Adjust for smaller screen */
  }
}
